<h1>Shirt Styles</h1>

<table>
  <thead><th>ID</th><th>Color</th><th>Size</th></thead>
  <tbody>
    <% @styles.each do |style| %>
      <tr><th><%= style._id %></th><td><%= style.color %></td><td><%= style.size %></td></tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add shirt styles', new_shirt_style_path %>
